<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>管理員後台</title>

<style>

body{
    font-family: Arial,"微軟正黑體";
    font-size:32px;
    margin:30px;
}

h1{
    font-size:52px;
}

h2{
    font-size:42px;
}

h3{
    font-size:36px;
}

p{
    font-size:32px;
}

button{
    font-size:32px;
    padding:15px 35px;
    margin:8px;
    min-width:260px;
}

</style>

</head>

<body>

<h1>管理員後台</h1>

<p>登入帳號：{{ admin["username"] }}</p>

{% if admin["role"] == "super" %}
<p>身分：總管理員</p>
<p>啟用工地數：{{ site_count }}</p>
{% else %}
<p>身分：工地主任</p>
<p>管理工地：{{ site["name"] }}</p>
{% endif %}

<p>目前未歸還數量：{{ borrowed_count }}</p>

<hr>

<p>
<a href="/history">
<button>
借用紀錄
</button>
</a>
</p>

<p>
<a href="/admin_tools">
<button>
工具管理
</button>
</a>
</p>

{% if admin["role"] == "super" %}

<p>
<a href="/admin_sites">
<button>
工地管理
</button>
</a>
</p>

<p>
<a href="/admin_return_users">
<button>
歸還人員管理
</button>
</a>
</p>

{% endif %}

<p>
<a href="/admin_logout">
<button>
登出
</button>
</a>
</p>

<p>
<a href="/">
<button>
返回首頁
</button>
</a>
</p>

</body>
</html>