<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>工地借物管理系統</title>

<style>
body{
    font-family: Arial,"微軟正黑體";
    text-align:center;
    margin-top:40px;
    font-size:32px;
}

h1{
    font-size:52px;
}

h2{
    font-size:42px;
}

button{
    font-size:30px;
    padding:15px 35px;
    margin:10px;
}

select{
    font-size:30px;
    padding:12px;
}
</style>

</head>
<body>

<h1>工地借物管理系統 V2.5 Final</h1>

<h2>請選擇工地</h2>

<form action="/site" method="get">
    <select name="site_id" required>
        {% for site in sites %}
            <option value="{{ site['id'] }}">
                {{ site["name"] }}
            </option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">進入工地</button>
</form>

<br>

<a href="/admin_login">
    <button>管理員登入</button>
</a>

<div style="
position: fixed;
right: 10px;
bottom: 8px;
font-size: 12px;
color: #999;
font-family: Arial;
">
製作人：514
</div>

</body>
</html>