<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<title>工地借物管理系統</title>
</head>
<body>

<h1>工地借物管理系統 V2.3</h1>

<h2>請選擇工地</h2>

<form action="/site" method="get">
    <select name="site_id" required>
        {% for site in sites %}
            <option value="{{ site['id'] }}">{{ site["name"] }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">進入工地</button>
</form>

<br>

<a href="/admin_login">
    <button>管理員登入</button>
</a>

</body>
</html>