<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<title>搜尋借用人</title>

<style>
body{
    font-family: Arial, "微軟正黑體";
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

h1{
    font-size: 40px;
}

input{
    font-size: 24px;
    padding: 10px;
    width: 250px;
}

button{
    font-size: 24px;
    padding: 10px 30px;
}
</style>

</head>

<body>

<h1>搜尋借用人</h1>

<form action="/search_user" method="post">

<input
type="text"
name="phone"
placeholder="請輸入手機號碼"
required>

<br><br>

<button type="submit">
搜尋
</button>

</form>

<br>

<a href="/">
<button>
返回工地選擇
</button>
</a>

</body>
</html>